


<template>
<div class="bgcolour" style="background-image: linear-gradient(to right,#f7f7f7,#f7f7f7);">
  <v-container >
          <v-row>
              <v-col cols="12">
              </v-col>
              <v-col cols="12">
              <h1 class="title font-weight-bold text-center">
                  TRANSLITERATION
              </h1>
              </v-col>
              <v-col cols="12">
              </v-col>
          </v-row> 
<!-- choose language from to TRANSLITERATION -->
          <v-row class="mb-12">
              <!-- <v-spacer></v-spacer> -->
           
              <v-col cols="5" class="text-center">
              <v-select
              v-model="e2"
              :items="['English']"
              menu-props="auto"
              hide-details
              label="Select"
              solo
              single-line
              >
              </v-select>
              </v-col>

              <v-col cols="2" class="text-center">
              <span class="font-weight-bold">TO</span>
              </v-col>

              <v-col cols="5" class="text-center">
              <v-select
              v-model="e1"
              :items="languages[0].name"
              menu-props="auto"
              hide-details
              label="Select"
              single-line
              solo
              v-on:change="changeLanguage()"
              >
              </v-select>
              </v-col>
              <!-- <v-spacer></v-spacer>  -->
          </v-row>    
  

      <!-- textarea where user right text for TRANSLITERATION -->

    <v-row class="mb-12"  style="position:relative">
    <v-textarea id="editor_area"
      v-model='text'
      clear-icon="cancel"
      label="Text"
      v-on:keyup="myFunction()"
      solo
      outlined
      auto-grow
      autofocus
    >
    </v-textarea>
       <div v-bind:style="styleObject">

         <v-list>
      <v-list-item-group v-model="category"  v-on:change="changeFunction(event)">
        <v-list-item
          v-for="(item, i) in dropdown"
          :key="i"
          :value="item"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
     </div>
    </v-row>


<v-row class="mb-1 mt-12">
        <v-col cols="12" class="text-center">
          <h1 class="title font-weight-light text-center">
                  Download .CSV File Of Your Fevourite Transliterations 
              </h1>
       </v-col>
       
</v-row>
    
<v-row class="mb-1">
        <v-col md="4" class="d-none d-sm-block">

       </v-col>
       <v-col md="4" xs="12" class="text-center">
         Choose Language
         <v-select
              v-model="downloadlang"
              :items="languages[0].name"
              menu-props="auto"
              hide-details
              single-line
              solo
              v-on:change="changeLanguage()"
              >
        </v-select>
       </v-col>
      <v-col md="4" cols="4" class="d-none d-sm-block">
      </v-col>
     </v-row>

     <v-row class="mb-1">
        <v-col md="4" class="d-none d-sm-block">

       </v-col>
       <v-col md="4" xs="12" class="text-center">
         <v-btn rounded color="primary" dark v-on:click="downloadcsv">Download .csv</v-btn>
       </v-col>
      <v-col md="4" cols="4" class="d-none d-sm-block">
      </v-col>
     </v-row>

<svg width="0px" height="0px">
  <text style="visibility:hidden; white-space:pre-wrap"></text>
</svg>
        <!-- <v-row class="mb-12"> -->

     <!-- suggestion dropdown       -->
  
      <!-- </v-row> -->
        

  </v-container>
</div>
</template>

<script>
import axios from "axios";

export default {
  name: "HelloWorld",

  data: () => ({
    eventValue:'',
    downloadlang:"Hindi",
    cordx:5,
    cordy:6,
    styleObject: {
        position: 'absolute',
        display: "none",
        left:5 + 'px',
        top: 36 + 'px'
    },
    e1: "Hindi",
    e2: "English",
    languages: [
              {
               name:["Hindi", "Tamil", "Telugu", "Bengali", "Gujarati", "Marathi", "Kannada", "Malayalam", "Punjabi", "Nepali"]
              },
              {
               nickName:["hindi", "tamil", "telugu", "bengali", "gujarati", "marathi", "kannada", "malayalam", "punjabi", "nepali"]
              }
              ],
    text: "",
    temp: "",
    category: "",
    dropdown: [],
    count:0,
    storelanguage:'',
    top:0
  }),
  mounted(){

     window.addEventListener('mousemove',this.mouseIsMoving);
    
     if(localStorage.getItem("language")!=null)
     this.e1 = localStorage.getItem("language");
}, 
  methods: {
changeLanguage(){
if(this.text == '')
      {
        this.styleObject.display = "none";
      }  
localStorage.setItem("language", this.e1);

},

async myFunction(event) {

////////////get rigth left top pixel position
  var element = document.getElementById("editor_area");
  var rect = element.getBoundingClientRect();
  

/////////// set value in hidden text element
document.getElementsByTagName('text')[0].innerHTML=this.text;
var ell = document.getElementsByTagName('text')[0];

///////////// check which key is press
// document.addEventListener("keyup",function(event) {
// localStorage.setItem("keypress", event.which)
// })

///////////// what to do when enter is pressed
this.eventValue = localStorage.getItem("keypress")
console.log(event.which)
if(this.eventValue == 13)
{
  console.log(ell.getComputedTextLength(), rect.right - rect.left);
}
//////////// what do when another keys are pressed escap enter and backspace
if(this.eventValue != 13 && this.eventValue != 8)
{
    var i=0,lang;
      while(this.e1 != this.languages[0].name[i])
      {
        i++;
      }
      lang = this.languages[1].nickName[i];
      this.storelanguage = lang;
  ///////////// when space is pressed
     if(this.text.slice(-1) == " ")
     {
        let data = new FormData();
        
        if (this.text.indexOf(" ") == (this.text.length-1)){
        data.append("input", this.text);
        this.text = this.dropdown[0] + " ";
        }
        else
        {
        data.append("input", this.temp[this.temp.length - 1]);
        this.text = this.text.slice(0, this.text.lastIndexOf(" ",this.text.length-2)) + " " + this.dropdown[0] + " ";
        }

      data.append("lang", this.storelanguage);
      data.append("transliteration", this.dropdown[0]);
      data.append("language", this.storelanguage);

      let url1 ="http://localhost:3333/saveTranslitration";
      await axios.post(url1,data);
     }

//////////////// set position of dropdown list  
      this.styleObject.display = "block";
      var width = (ell.getComputedTextLength())%(rect.right - rect.left);
      var top = (parseInt(ell.getComputedTextLength()/(rect.right - rect.left)))*29;

      this.styleObject.left = width + 'px'; 
      this.styleObject.top = 32 + top + 'px'; 
//////////////// send post request to get dropdown list data
      this.temp = this.text.split(" ");
      let url ="http://localhost:8090/processWordJSON?inString="+this.temp[this.temp.length - 1]+"&lang="+lang;
      await axios.post(url).then(data => {
        this.dropdown = [...data.data.twords[0].options];
      });
      }
      },

////////////// when dropdown list value change
      async changeFunction() {
      if(this.text.slice(-1) != " ")
      {
      let data = new FormData();
      data.append("input", this.temp[this.temp.length - 1]);
      data.append("lang", this.storelanguage);
      data.append("transliteration", this.category);
      data.append("language", this.storelanguage);
      let url1 ="http://localhost:3333/saveTranslitration";
      await axios.post(url1,data);
      }
      if(this.text == '')
      {
        this.styleObject.display = "none";
      }

      if (this.text.search(" ") == -1) 
        this.text = this.category + " ";
      else
        this.text = this.text.slice(0, this.text.lastIndexOf(" ")) + " " + this.category + " ";

        this.styleObject.display = "none";
        document.getElementById("editor_area").focus();
        this.category = "";
    },
//////////////////// download .csv file
      async downloadcsv(){
      var i=0,downlang;
      while(this.downloadlang != this.languages[0].name[i])
      {
        i++;
      }
      downlang = this.languages[1].nickName[i];
      const download = function(data){
      const blob = new Blob([data], {type: 'text/csv'});
      const url = URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.setAttribute('hidden','');
      a.setAttribute('href',url);
      a.setAttribute('download','download.csv');
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      }; 
      let url = "http://localhost:3333/download?lang="+downlang;
      await axios.get(url).then(data => {
      download(data.data);
      });
   
    }
  }
};
</script>
<style scoped>
.bgcolour{
  height: 100%;
}

</style>